//import LassoHead from "./lasso-head"

<head>
    <!--<link rel="stylesheet" type="text/css" href="/assets/css/style.css">-->

    <title><if (data.title)>${data.title} | </if>Stock Tracker</title>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
